body{
    background: rgba(227, 194, 230, 0.4);
    margin: auto;
}
.yura {
    display: inline-block;
    animation: yurayura 3s ease-in infinite alternate;
    color: rgba(227, 150, 225, 0.652);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(248, 216, 221);
    transition: 0.2s;
    
}
.yura:hover{
    transform: scale(1.02);
    text-shadow: 4px 4px 4px rgb(245, 222, 222);
}
@keyframes yurayura {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}
.kiroku{
    color: rgba(194, 230, 230, 0.652);
    text-align: center;
    text-shadow: 1px 1px 1px rgb(211, 164, 229);
}
.onegai{
    color: rgb(201, 228, 251);
    text-shadow: 1px 1px 1px rgba(246, 212, 245, 0.808);
    text-align: center;
    height: 30px;
}.kotira{
     color: rgb(201, 228, 251);
    text-shadow: 1px 1px 1px rgba(246, 212, 245, 0.808);
    text-align: center;
    height: 30px;
}
.card{
    width: 500px;
    border-radius: 15px;

    margin: 20px auto;
}
#haikei{
background-color: rgba(255, 255, 255, 0.466);
box-shadow: 4px 4px 4px rgba(221, 160, 221, 0.436);
}
.input-group {
    font-size: 20px;
    color: rgba(94, 181, 235, 0.6);
    width: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 15px 80px;
    display: flex;
    outline: none;
    border: 2px solid pink;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(244, 207, 242, 0.488);
}
.yokomoji{
    display: block;
    align-items: center;
}
.label-text{
    margin-left: 20px;
    color: rgb(148, 181, 226);
    text-shadow:  2px 2px 2px rgba(246, 212, 245, 0.808);
    font-size: 18px;
    width: 20px;

}
.button2{
    display: flex;
    justify-content: space-around;
}
.kakunin,.daytime{
    margin-bottom: 20px;
    padding: 20px 60px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 2px rgb(230, 205, 227);
    background-color: white;
    color:  rgb(148, 181, 226);
    text-shadow: 2px 2px 2px rgba(246, 212, 245, 0.808) ;
}

.button1{
    max-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.button-group{
    flex: 1;
    margin: 20px;
    padding: 20px 60px;
    background-color: white;
    border: 2px solid pink;
    transition: all 0.2s;
    box-shadow: 2px 2px 2px rgb(230, 205, 227);
    border-radius: 15px;
    color:  rgb(148, 181, 226);
    text-shadow: 2px 2px 2px rgba(246, 212, 245, 0.808) ;
}
.row-delete-btn{
    margin: 10px auto;
    padding: 15px;
    background-color: white;
    border: 2px solid pink;
    border-radius: 15px;
    color:  rgb(148, 181, 226);
    text-shadow: 2px 2px 2px rgba(246, 212, 245, 0.808) ;
    transition: all 0.2s;
}
#table.open{
    background-color: rgba(245, 228, 241, 0.558);
    text-align: center;
    margin: 10px auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
    border: 5px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(230, 205, 227);
    color:  rgb(148, 181, 226);
    text-shadow: 2px 2px 2px rgba(246, 212, 245, 0.808) ;
}
th{
    border-bottom: 3px solid white;
}
.oomoji{
    color:  rgb(185, 209, 243);
    text-shadow: 2px 2px 2px rgba(246, 212, 245, 0.808) ;
    font-size: 20px;
    padding: 5px 50px;
}
#table {
    display: none;
}

#table.open{
    display: flex;
}